 /*Ladies and gentlemen, let's start*/
 input {
    caret-color: transparent; /* See, we need the actual malnorished caret to disappear */
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

/* Introducing our fat caret */
.caret {
    display: inline-block;
    width: 1ch; /*Adjust the fatnessss*/
    height: 1.5em;
    background: black;
    animation: blink 1s step-start infinite;
    vertical-align: top;
    position: absolute;
    left: 0px; /*To start caret inside the box*/
}

/* Make our fat boy blink */
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.input-container {
    position: relative;
    width: 300px;
}
